@model IEnumerable<Bewerber.Models.Stellenangebote>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BEZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referenz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gesamt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eingestellt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unbearbeitet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BEZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referenz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gesamt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eingestellt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unbearbeitet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
